.featuredAndSeeMore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    margin-top: 50px;
    
}

.featuredAndSeeMore div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.movies_wrapper{
    gap: 10px;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 100px;
    
}

.movie-card{
   
    
    border: #ccc solid 2px;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    cursor: pointer;
}

.movie-poster{
    width: 100%;
    height: auto;
}

.movie-title{
    color: var(--gray-900, #111827);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.movie-release-date{
    color: var(--gray-400, #9CA3AF);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media (max-width: 768px) {


    .movies_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 

.movie-card{    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
}

.featuredAndSeeMore{
    
    gap: 100px;
}

/* Styles for single Movie */
.movie-details-wrapper{
    display: flex;
    justify-content: space-around;
}
.movie-brief{
    display: flex;
    gap: 20px;
}

.movie-votes{
    display: flex;
    gap: 10px
}

.no_text_decoration{
    text-decoration: none;
}